
<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Edit form</h2>
  <form method="post" action="/edit/<%= students._id %>" >
    <div class="form-group">
      <label >MAME</label>
      <input type="text" class="form-control"   name="name" value="<%= students.name %>">
    </div>
    <div class="form-group">
      <label >E-mail</label>
      <input type="email" class="form-control"  name="mail" value="<%= students.mail %>">
    </div>
    <div class="form-group">
        <label >Age</label>
        <input type="number" class="form-control"   name="age" value="<%= students.age %>">
      </div>
    
    <button type="submit" class="btn btn-primary">UPDATE</button>
  </form>
</div>

</body>
</html>
